* {
    background-color: aquamarine;
}

.title {
    font-size: 70 px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

h1 {
    text-align: left;
}

img {
    align-items: center;
    height: 70vh;

}

body {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}